<ion-header>
  <ion-toolbar>
    <ion-title>Show New Words</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack($event)">
        BACK?
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div style="height:50px;width=100%">
    <div style="width:50%;height:100%;display:inline-block;text-align:left;vertical-align:middle">
      <strong>WELCOME!</strong>
    </div>
    <div style="width:25%;height:100%;display:inline-block">
      <ion-button class="button button-block" style="white-space: normal;font-size:10pt;padding:3px;margin:3px;" color="{{showNewWords.color}}" (click)="login()">Login</ion-button>
    </div>
    <div style="width:25%;height:100%;display:inline-block">
      <ion-button class="button button-block" style="white-space: normal;font-size:10pt;padding:3px;margin:3px;" color="{{showNewWords.color}}" (click)="logout()">Logout</ion-button>
    </div>
  </div>
  <div style="height:50px;width=100%">
    <div style="width:20%;height:100%;display:inline-block;text-align:right">
      <span style="margin-right:5px;">Username</span>
    </div>
    <div style="width:80%;height:100%;display:inline-block">
      <input style="height:100%;width:100%" type="text" [(ngModel)]="showNewWords.username" placeholder="Enter username"/>
    </div>
  </div>
  <div style="height:50px;width=100%">
    <div style="width:20%;height:100%;display:inline-block;text-align:right">
      <span style="margin-right:5px;">Password</span>
    </div>
    <div style="width:80%;height:100%;display:inline-block">
      <input style="width:100%;height:100%" type="text" [(ngModel)]="showNewWords.password" placeholder="Enter password"/>
    </div>
  </div>
  <ion-row>
    <ion-col col-6>
      <ion-button class="button button-block" style="white-space: normal;font-size:10pt;padding:3px;margin:3px;" color="{{showNewWords.color}}" (click)="logout()">GET YOUR NEW WORDS!</ion-button>
    </ion-col>
    <ion-col col-3>
      <strong># Days Before?</strong>
    </ion-col>
    <ion-col col-3>
      <select [(ngModel)]="showNewWords.days_before">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <ion-button class="button button-block" style="white-space: normal;font-size:10pt;padding:3px;margin:3px;" color="{{showNewWords.color}}" (click)="getLastReview()"><</ion-button>
    </ion-col>
    <ion-col col-6>
      <ion-button class="button button-block" style="white-space: normal;font-size:10pt;padding:3px;margin:3px;" color="{{showNewWords.color}}" (click)="getNextReview()">></ion-button>
    </ion-col>
  </ion-row>
</ion-content>
