<ion-header>
  <ion-toolbar>
    <ion-title>
      LFQ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chooseSync($event)">
        SYNC
      </ion-button>
      <ion-button (click)="chooseBackground($event)">
        BACKGROUND
      </ion-button>
      <ion-button (click)="chooseButton($event)">
        BUTTON
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #homePageContent>
  <ion-row style="background-color:white">
    <ion-col col-4 style="text-align:center">
      EDIT
    </ion-col>
    <ion-col col-4 style="text-align:center">
      SHOW
    </ion-col>
    <ion-col col-4 style="text-align:center">
      TOOLS
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goAcrostics()">Acrostics</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goAcrosticsTables()">Acrostics Tables</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goMajorSystem()">Major System</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goAlphabet()">Alphabet</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goNewWords()">New Words</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goCelebrityNumbers()">Celebrity Numbers</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goDictionary()">Dictionary</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block"color="{{home.color}}" (click)="goShowMnemonics()">Mnemonics</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goAnagramGenerator()">Anagram Generator</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goEvents()">Events</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goShowNumbers()">Numbers</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goMnemonicGenerator()">Mnemonic Generator</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goMnemonics()">Mnemonics</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goTimeline()">Timeline</ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goShowDictionary()">Dictionary</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goNumbers()">Numbers</ion-button>
    </ion-col>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goTables()">Tables</ion-button>
    </ion-col>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goEditNewWords()">Edit New Words</ion-button>
    </ion-col>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
      <ion-button class="button button-block" color="{{home.color}}" (click)="goHelp()">Help Menu</ion-button>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
