<ion-header>
  <ion-toolbar>
    <ion-title>
      LFQ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        SYNC
      </ion-button>
      <ion-button>
        BACKGROUND
      </ion-button>
      <ion-button>
        BUTTON
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Acrostics</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Acrostics Tables</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Major System</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Alphabet</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Show New Words</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Celebrity NUmbers</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Dictionary</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Mnemonics</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Anagram Generator</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Events</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Numbers</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Mnemonic Generator</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Mnemonics</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Timeline</button>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Dictionary</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Numbers</button>
    </ion-col>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Tables</button>
    </ion-col>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <button class="button button-block button-assertive">Edit New Words</button>
    </ion-col>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
      <button class="button button-block button-assertive">Help Menu</button>
    </ion-col>
  </ion-row>
</ion-content>
